:root {
    --main-text-color: #dbdbdb;
    --main-text-highlight-color: white;
    --secondary-text-color: #777777;
    --panel-background: #242424;
    --border-highlight: #313131;
    --accent-color: #233a44;
    --accent-color-lighter: #335463;
    --accent-color-darker: #202b30;
}

/* Default styles */

html {
    font-family: sans-serif;
    color: var(--main-text-color);
}

body {
    background-color: #1a1a1a;
}

label {
    font-size: 10pt;
}

button {
    color: var(--main-text-color);
    background-color: var(--accent-color);
    border: 1px solid #34515c;
    border-radius: 6px;
    padding: 3px 6px 4px;
    margin: 4px 2px;
    transition-duration: 0.2s;
}

button:hover {
    color: var(--main-text-highlight-color);
    background-color: #3c6469;
    border-color: #51939e;
}

small {
    color: var(--secondary-text-color);
}

kbd {
    color: var(--main-text-highlight-color);
    background-color: var(--accent-color-darker);
    border-color: var(--accent-color-darker);
    border-style: solid;
    border-width: 2px 6px;
    border-radius: 4px;
}

/* @Cleanup: unused, maybe we used it in the future?
    if not, delete it. */
h4 {
    background-color: #2b2b2b;
    padding: 4px;
    margin: 0px;
    border: 2px solid #2b2b2b;
    border-radius: 6px;
}

/* Grid related */

.main-grid {
    display: grid;
    grid-gap: 10px;
    grid-template: auto / minmax(400px, auto) minmax(400px, auto);
}

/* Classes for specific elements */

.title {
    text-align: center;
    font-weight: 600;
    margin: 20px;
}

.infopanel {
    background-color: var(--panel-background);
    border: 2px solid #202020;
    border-radius: 10px;
    padding: 2px 2px 8px;
    transition-duration: 0.2s;
}

.infopanel:focus-within {
    border-color: #313131;
}

.infopanel h1 {
    background-color: var(--accent-color);
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 0px 0px 15px;
    border-radius: 6px;
    padding: 5px 0px;
}

#loottb {
    width: 100%;
}

#loottb th, td {
    text-align: center;
    padding: 4px 5px 6px;
    border-bottom: 2px solid var(--border-highlight);
}

#loottb td {
    color: var(--secondary-text-color);
}

#loottb input {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 10pt;
    background-color: var(--panel-background);
    color: var(--main-text-color);
    border: 2px solid var(--panel-background);
    border-radius: 4px;
    transition-duration: 0.2s;
}

#loottb input:hover {
    background-color: #2b2b2b;
    border-color: var(--accent-color);
}

#loottb input:focus {
    background-color: var(--border-highlight);
    border-color: var(--accent-color-lighter);
}