:root {
    --main-text-color: #dbdbdb;
    --main-text-highlight-color: #ffffff;
    --secondary-text-color: #808080;
    --panel-background: #242424;
    --border-highlight: #313131;
    --accent-color: #233a44;
    --accent-color-lighter: #335463;
    --accent-color-darker: #202b30;
    --detail-color: #cac0a4;
}

/* - Default styles - */

html {
    font-family: sans-serif;
    color: var(--main-text-color);
}

body {
    background-color: #171717;
}

label {
    color: var(--secondary-text-color);
    font-size: 10pt;
}

button {
    color: var(--main-text-color);
    background-color: var(--accent-color);
    border: 2px solid #34515c;
    border-radius: 6px;
    padding: 3px 6px 4px;
    margin: 4px 2px;
    min-width: 50px;
    transition-duration: 0.15s;
}

button:hover {
    color: var(--main-text-highlight-color);
    background-color: #3c6469;
    border-color: #51939e;
    transition-duration: 0.15s;
}

button:active {
    color: #a3a3a3;
    background-color: #172b33;
    border-color: #233b44;
    transition-duration: 0.15s;
}

small {
    color: var(--secondary-text-color);
}

kbd {
    color: var(--main-text-highlight-color);
    background-color: var(--accent-color-darker);
    border-color: var(--accent-color-darker);
    border-style: solid;
    border-width: 2px 6px;
    border-radius: 4px;
}

input[type=text] {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 10pt;
    background-color: #2b2b2b;
    color: var(--main-text-color);
    border: 2px solid var(--accent-color-darker);
    border-radius: 4px;
    transition-duration: 0.2s;
}

input[type=text]:hover {
    background-color: #2b2b2b;
    border-color: var(--accent-color);
    transition-duration: 0.2s;
}

input[type=text]:focus {
    background-color: var(--border-highlight);
    border-color: var(--accent-color-lighter);
    transition-duration: 0.2s;
}

/* Tables */

table {
    width: 98%;
}

table th,
table td {
    text-align: center;
    padding: 4px 5px 6px;
    border-bottom: 2px solid var(--border-highlight);
}

table td {
    border-bottom-width: 1px;
    color: var(--secondary-text-color);
}

table input[type=text] {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 10pt;
    background-color: var(--panel-background);
    color: var(--main-text-color);
    border: 2px solid var(--panel-background);
    border-radius: 4px;
    transition-duration: 0.2s;
}

table input[type=text]:hover {
    background-color: #2b2b2b;
    border-color: var(--accent-color);
    transition-duration: 0.2s;
}

table input[type=text]:focus {
    background-color: var(--border-highlight);
    border-color: var(--accent-color-lighter);
    transition-duration: 0.2s;
}

/* - Grid related - */

.maingrid {
    margin-top: 25px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(450px, auto));
    align-items: flex-start;
}

#playersgrid {
    grid-area: auto / span 2;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
}

.playerpanel {
    display: grid;
    grid-template-columns: auto max-content;
    grid-gap: 5px;
    flex-grow: 1;
    flex-basis: 280px;
    min-width: 280px;
    max-width: 25%;
    border-top: 2px solid var(--border-highlight);
    border-right: 1px solid var(--panel-background);
    border-left: 1px solid var(--panel-background);
    box-shadow: inset 0px 0px var(--panel-background);
    transition-duration: 0.4s;
}

.playerpanel:hover,
.playerpanel:focus-within {
    box-shadow: inset 0px 20px var(--panel-background);
    transition-duration: 0.2s;
}

/* - Classes - */

.title {
    text-align: center;
    font-weight: 600;
    margin: 20px;
}

.playername[type=text],
.playername[type=text]:hover,
.playername[type=text]:focus {
    background: none;
    border: none;
    font-size: 12pt;
    font-weight: bold;
    margin: 8px 0px;
    text-align: center;
}

.playerdelete_button {
    border: 1px solid var(--accent-color);
    border-radius: 0px;
    margin: 4px;
    justify-self: right;
    min-width: 30px;
    background: var(--accent-color-darker);
    transition-duration: 0.4s;
}

.infopanel {
    background-color: var(--panel-background);
    border: 2px solid #202020;
    border-radius: 10px;
    padding: 2px 2px 8px;
    transition-duration: 0.4s;
}

.infopanel:hover,
.infopanel:focus-within {
    border-color: #313131;
    transition-duration: 0.4s;
}

.infopanel h1 {
    background-color: var(--accent-color);
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 0px 0px 15px;
    border-radius: 6px;
    padding: 5px 0px;
}

.delete_row_button {
    background-color: #aa3030;
    border: 1px solid #ce5353;
    border-radius: 6px;
    padding: 0px 4px 1px;
    margin: 0px 0px;
    min-width: 20px;
    transition-duration: 0.2s;
}

.delete_row_button:hover {
    color: var(--main-text-highlight-color);
    background-color: #c04343;
    border-color: #d86c6c;
    transition-duration: 0.2s;
}

/* Specific elements by id */

#loottb_addcreatureitems {
    display: none;
    margin-top: 5px;
    grid-gap: 10px;
    grid-template-columns: auto minmax(200px, 30%) auto auto;
    justify-content: center;
    align-items: center;
}
