:root {
    --fast-bezier: cubic-bezier(0,1,1,1);

    --bg-triangle-size: 20vw;
    --table-indentsize: 20px;
    --default-line-height: 1.3;

    --default-font-family: "Arimo", sans-serif;
    font-family: var(--default-font-family);
    font-size: 11.5pt;
    line-height: var(--default-line-height);
}

/* - Background - */
.background * {
    z-index: -100;
}

.bg-noise {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(ellipse at center, var(--background-color) 0%, #000000 180%);
}
.bg-noise::after {
    content: "";
    position: fixed;
    opacity: 0.02;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("imgs/256x256_noise.png");
    background-blend-mode: overlay;
}

.bg-rect-fade {
    position: fixed;
    opacity: 0.5;
    top: 25vh;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(var(--contrast-color), 1) 0%, rgba(var(--contrast-color), 0) 100%);
}

.bg-triangle {
    position: absolute;
    opacity: 0.4;
    width: 0;
    height: 0;
}
.bg-triangle-topleft {
    top: 0;
    left: 0;
    border-top: var(--bg-triangle-size) solid var(--accent-color-darker);
    border-right: var(--bg-triangle-size) solid transparent;
}
.bg-triangle-topright {
    top: 0;
    left: calc(100% - var(--bg-triangle-size));
    border-top: var(--bg-triangle-size) solid var(--accent-color-darker);
    border-left: var(--bg-triangle-size) solid transparent;
}

label {
    color: var(--secondary-text-color);
    font-size: 1em;
}

/* - Default styles - */
::selection {
    color: var(--contrast-color);
    background-color: var(--button-highlight-color);
}

body {
    color: var(--main-text-color);
    background-color: var(--background-color);
    padding: 0 1vw;
}

button {
    color: var(--main-text-color);
    background-color: var(--accent-color);
    font-size: 0.95em;
    font-family: "Arimo", sans-serif;
    line-height: 1.5;
    border: 1px solid var(--accent-color-lighter);
    border-radius: 6px;
    box-shadow: 0px 3px 0px 0px var(--accent-color-darker);
    padding: 3px 6px 4px;
    margin: 4px 2px;
    min-width: 50px;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}
button:hover {
    color: var(--main-text-highlight-color);
    background-color: var(--button-highlight-color);
    border-color: var(--accent-color-highlight);
    transition-duration: 0s;
}
button:active {
    color: var(--contrast-color-dim);
    background-color: var(--accent-color-darker);
    border-color: var(--accent-color-lighter);
    transform: translateY(2px);
    box-shadow: 0px 0px 0px 0px var(--accent-color-darker);
}
button:disabled {
    color: var(--contrast-color) !important;
    background-color: var(--contrast-color-dim) !important;
    border-color: var(--contrast-color-dim) !important;
    box-shadow: 0px 2px 0px 0px var(--contrast-color) !important;
    pointer-events: none !important;
}

small {
    font-size: 0.9em;
    color: var(--secondary-text-color);
}

kbd {
    font-family: Courier, monospace;
    color: var(--main-text-highlight-color);
    background-color: var(--accent-color-darker);
    border-color: var(--accent-color-darker);
    border-style: solid;
    border-width: 2px 6px;
    border-radius: 4px;
}

a {
    color: var(--detail-color);
}
a:hover {
    color: white;
}
a:visited {
    color: var(--accent-color-lighter);
}

input[type=text],
input[type=number],
input[type=number]:invalid {
    background-color: rgba(var(--contrast-color-rgb), 0.05);
    text-align: center;
    font-family: "Arimo", sans-serif;
    font-size: 0.95em;
    line-height: 1.5;
    box-sizing: border-box;
    color: var(--main-text-color);
    border: 2px solid rgba(var(--panel-background-rgb), 0);
    border-radius: 4px;
    box-shadow: none;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    -moz-appearance: textfield; /* Only applies to number. Separate if more inputs get added to the same group. */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance:none;
    margin: 0;
}

input[type="number"]:hover::-webkit-inner-spin-button,
input[type="number"]:hover::-webkit-outer-spin-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance:none;
    margin:0;
}

input[type=text]:hover,
input[type=number]:hover,
input[type=number]:hover:invalid {
    background-color: rgba(var(--contrast-color-rgb), 0.08);
    border-color: rgba(var(--accent-color-rgb), 1);
    transition-duration: 0s;
    transition-timing-function: ease;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=number]:focus:invalid {
    background-color: rgba(var(--contrast-color-rgb), 0.07);
    border-color: rgba(var(--accent-color-lighter-rgb), 1);
    outline: 1px solid rgba(var(--contrast-color-rgb), 0);
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

/* Tables */
table {
    width: 98%;
    border-collapse: collapse;
}

table input {
    width: 100%;
}

table th,
table td {
    text-align: center;
    padding: 0.25em 0.1em;
    border-bottom: 2px solid rgba(var(--contrast-color-rgb), 0.12);
}

table th {
    font-size: 1.1em;
}

table td {
    border-bottom-width: 1px;
    color: var(--secondary-text-color);
}

:where(.infopanel) input[type=text],
:where(.infopanel) input[type=number],
:where(.infopanel) input[type=number]:invalid {
    background-color: rgba(var(--contrast-color-rgb), 0);
}

.locationtable {
    margin-bottom: 1em;
}

.locationtable th,
.locationtable td {
    text-align: left;
}

.locationtable th {
    border-bottom-color: var(--border-highlight-lighter);
}

.locationtable a {
    color: inherit;
    text-decoration: none;
    transition-duration: 0.4s;
}
.locationtable a:hover {
    color: var(--main-text-color);
    transition-duration: 0s;
}

.locationtable .locationth-right {
    width: 5.5em;
    white-space: nowrap;
    text-indent: 0px;
    text-align: right;
}

.locationth-right {
    color: var(--detail-color);
}

.npctbody th,
.npctbody td {
    font-size: 1em;
    text-align: left;
    text-indent: var(--table-indentsize);
}

.npctbody th {
    color: var(--accent-color-highlight);
    border-bottom-color: var(--accent-color-lighter);
}

/* - Grid related - */
.maingrid {
    margin-top: 25px;
    display: grid;
    grid-gap: 0.2em 1em;
    grid-template-columns: repeat(2, minmax(450px, auto));
    align-items: flex-start;
}

#playersgrid {
    grid-area: auto / span 2;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    position: relative;
}

.playerpanel {
    background-color: var(--background-color);
    position: relative;
    flex-grow: 1;
    flex-basis: 250px;
    min-width: 250px;
    max-width: 30%;
    border-top: 3px solid var(--border-highlight);
    border-right: 1px solid var(--panel-background);
    border-left: 1px solid var(--border-highlight);
    box-shadow: inset 0px 0px var(--panel-background);
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.playerpanel:hover,
.playerpanel:focus-within {
    box-shadow: inset 0px 40px var(--panel-background);
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

/* - Classes - */
.title {
    font-size: 2.5rem;
    font-family: "Righteous", sans-serif;
    text-align: center;
    font-weight: 600;
    margin: 0.6em;
    user-select: none;
}

.span2-c {
    grid-column: span 2;
}

.sidebar-menu {
    position: fixed;
    background-color: rgba(var(--accent-color-rgb), 0.9);
    backdrop-filter: blur(6px);
    top: 0;
    right: min(39vw - (48vh - 48vw), 70vw);
    bottom: 0;
    left: 0;
    box-shadow: 0 2em 15px 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
    transition: clip-path 0.2s var(--fast-bezier);
    border-right: 0.25em solid var(--accent-color-darker);
    clip-path: polygon(0% 0%,0% 0%,0% 100%,0% 100%);
}
.sidebar-menu-open {
    transition: clip-path 0.5s var(--fast-bezier);
    clip-path: polygon(0% 0%,150% 0%,150% 100%,0% 100%);
}
.sidebar-grid {
    display: grid;
    width: 90%;
    margin: 0 auto;
    overflow-y: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
}

.sidebar-menu .nav-button {
    position: absolute;
    opacity: 1;
    top: 0.2em;
    left: 1vw;
    background-color: #aa3030;
    box-shadow: 0 3px 0 0 #792828;
}
.sidebar-grid h1 {
    display: flex;
    font-size: 1.6em;
    margin-top: 1em;
    justify-self: center;
    align-items: center;
    user-select: none;
}
.sidebar-grid label {
    color: var(--contrast-color-dim);
    display: flex;
    font-weight: bold;
    align-items: center;
}
.sidebar-grid label:hover {
    color: var(--contrast-color);
}
.sidebar-grid label img,
.sidebar-grid h1 img {
    margin-right: 0.3rem;
}
.sidebar-grid input {
    border-color: rgba(var(--contrast-color-rgb), 0.05);
}
.sidebar-grid input:hover {
    border-color: var(--button-highlight-color);
}

.sidebar-grid table {
    grid-column: span 2;
    box-shadow: inset 0 0.3em 0.3em rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    background-color: var(--panel-background);
}

.sidebar-grid button {
    font-size: 1rem;
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--panel-background);
    border-color: var(--border-highlight-lighter);
    box-shadow: 0px 3px 0px 0px var(--background-color-dim);
}
.sidebar-grid button:hover {
    background-color: var(--background-color-dim);
    border-color: var(--main-text-color);
}

.sidebar-button-fix {
    transform: translateY(0.3em);
}

.sidebar-row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
}

.notification-container {
    position: fixed;
    top: 1vh;
    left: 50vw;
    transform: translateX(-50%);
    width: calc(60vw + (30vh - 30vw));
    align-items: center;
    z-index: 200;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.notification {
    color: var(--accent-color);
    background: rgba(var(--contrast-color-rgb), 0.7);
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border: 1px solid rgba(var(--contrast-color-rgb), 0.4);
    backdrop-filter: blur(4px);
    border-radius: 1em;
    transition-timing-function: var(--fast-bezier);
    pointer-events: fill;
}
.notification:hover {
    color: var(--no-contrast-color);
    border-color: var(--accent-color-highlight);
    transition-duration: 0s;
}

.notification-text {
    font-size: 1rem;
    margin: 0;
    text-align: center;
    user-select: none;
}

.fishing-warning {
    font-size: 1em;
    color: var(--fishing-warning-color);
    text-align: center;
}

.playercontent {
    position: absolute;
    background-color: var(--background-color);
    border: 2px solid var(--border-highlight);
    box-sizing: border-box;
    z-index: 1;
    width: 100%;
    border-top-width: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.6);
    padding: 6px;
    padding-bottom: 15px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.playerpanel:hover .playercontent,
.playerpanel:focus-within .playercontent {
    clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, -10% 110%);
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.playercontent label {
    font-size: 0.95em;
    font-weight: bold;
}

.playerpanel h1 {
    margin: 2px 0;
    display: grid;
    grid-template-columns: auto max-content;
}
.playerpanel h1 input {
    width: 100%;
}

#playerfirstpanel.playerpanel h1 {
    grid-template-columns: max-content auto max-content;
}

.square-button {
    font-size: 0.9em;
    font-weight: bold;
    border: 1px solid var(--accent-color);
    border-radius: 0px;
    margin: 4px;
    min-width: 30px;
    background: var(--accent-color-darker);
}

.square-button:hover {
    border-color: var(--accent-color-lighter);
    background: var(--accent-color);
}

.playerpanel h1 input[type=text],
.playerpanel h1 input[type=text]:hover,
.playerpanel h1 input[type=text]:focus {
    background: none;
    border: none;
    font-size: 0.7em;
    font-weight: bold;
    text-align: center;
}

.playerpanel h2 {
    background-color: var(--accent-color-darker);
    text-align: center;
    line-height: 1.8;
    border-radius: 8px;
    margin: 6px;
    font-size: 0.95em;
}

.playerpanel th {
    font-size: 0.95em;
}

.infopanel {
    position: relative;
    background-color: var(--panel-background);
    border: 2px solid var(--background-color);
    border-radius: 10px;
    box-shadow: 0px 6px 0px 2px rgba(0, 0, 0, 0.4);
    padding: 2px 2px 20px;
    margin-bottom: 1em;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

/* we use this many selectors to have higher
   specificity and overwrite these properties */
div.infopanel.panel-flash {
    background-color: var(--background-color-dim);
    border-color: var(--contrast-color-dim);
    transition-duration: 0s;
    transition-timing-function: var(--fast-bezier);
}

.infopanel:hover,
.infopanel:focus-within {
    border-color: var(--background-color-dim);
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

.infopanel h1 {
    text-align: center;
    background-color: var(--accent-color);
    font-size: 1.6em;
    font-weight: 600;
    border-radius: 6px;
    box-shadow: 0px 2px 0px 0px var(--accent-color-darker);
    margin: 0px 0px 15px;
    padding: 5px 0px;
}

.floating-navbar {
    position: fixed;
    top: 5px;
    left: 1vw;
    z-index: 10;
    pointer-events: none;
}
.floating-navbar * {
    pointer-events: initial;
}

.navbar-right {
    position: absolute;
    top: 5px;
    right: 1vw;
    pointer-events: none;
}
.navbar-right * {
    pointer-events: initial;
}

.font-icon {
    font-size: 1.1rem;
    line-height: 1;
}

[data-tooltip]:before {
    display: none;
    color: var(--detail-color);
    font-size: 1rem;
    font-weight: normal;
    content: attr(data-tooltip);
    position: fixed;
    top: calc(var(--mouse-y) - 20px);
    left: calc(var(--mouse-x) - 25px);
    transform: translateY(-100%);
    margin-left: 1em;
    width: 25em;
    padding: 0.8em;
    text-align: center;
    border-left: 0.4em solid var(--accent-color);
    border-right: 2px solid var(--contrast-color-dim);
    background-color: var(--background-color);
    z-index: 150;
}
[data-tooltip]:after {
    content: "";
    position: fixed;
    top: var(--mouse-y);
    left: var(--mouse-x);
    transform: translateY(-100%) translateX(50%);
    border-width: 30px 30px 0 0;
    border-style: solid;
    border-color: var(--background-color) transparent;
    display: none;
    width: 0;
    z-index: 149;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
}

/* Buttons */
.headerbutton-left {
    position: absolute;
    left: 4px;
}
.headerbutton-right {
    position: absolute;
    right: 4px;
}

.red-button {
    color: white;
    background-color: #aa3030;
    border: 2px solid #ce5353;
    border-radius: 50%;
    box-shadow: 0px 3px 0px 0px #792828;
}
.red-button:hover {
    color: white;
    background-color: #c04343;
    border-color: #d86c6c;
    box-shadow: 0px 3px 0px 0px #aa3030;
}
.red-button:active {
    background-color: #aa3030;
    border-color: #ce5353;
    box-shadow: 0px 0px 0px 0px #792828;
}

.loottable-button {
    border-width: 1px;
    padding: 1px 8px;
    margin: 0px;
    min-width: 20px;
}

.kb-shortcuts {
    font-size: 1em;
    line-height: 1.5;
    margin: 15px;
}

.footer-source {
    font-size: 1em;
    margin: 2em 0;
    text-align: center;
}

.nav-button {
    width: 3.5rem;
    height: 3.5rem;
    margin: 5px;
    border: none;
    border-radius: 50%;
}

.icon-button {
    line-height: normal;
    opacity: 0.8;
}
.icon-button img {
    padding-top: 4px;
    width: 75%;
    overflow: hidden;
}
.icon-button:hover {
    opacity: 1;
}
.icon-button:hover img {
    width: 80%;
}
.icon-button:active img {
    width: 70%;
}

/* Specific elements by id */
#loottb_addcreatureitems {
    display: none;
    margin-bottom: 10px;
    grid-gap: 10px;
    grid-template-columns: auto minmax(200px, 30%) auto auto;
    justify-content: center;
    align-items: center;
}

#huntinfo label,
#huntinfo_playerstb label {
    cursor: text;
    color: var(--detail-color);
    font-weight: bold;
}

#huntinfo_selllocation h2 {
    font-size: 1.3em;
    margin: 0px 0px;
}

/* Large screens */
@media screen and (min-width: 2000px) {
    :root {
        font-size: 14pt;
    }

    body {
        padding: 0 5vw;
    }

    .floating-navbar {
        left: 5vw;
    }

    .navbar-right {
        right: 5vw;
    }
}

/* Mobile */
@media screen and (max-width: 960px) {
    :root {
        font-size: 11pt;
    }

    body {
        padding: 0;
    }

    .title {
        margin: 0px;
    }

    .maingrid {
        grid-template-columns: minmax(350px, auto);
    }

    .floating-navbar {
        left: 5px;
    }

    .navbar-right {
        right: 5px;
    }

    #playersgrid {
        grid-area: auto;
    }

    .playerpanel {
        max-width: 90%;
    }

    [data-tooltip]:before {
        width: 15em;
    }

    .kb-shortcuts {
        display: none;
    }
}
